@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    /*font-family: 'Teko', sans-serif;*/
}

#sedans-card {
    background-color: #E28525;
}



#sedans-btn button:hover {
    background-color: #E28525;
    border-style: solid;
    border-color: white;
    color: white;
    cursor: pointer;
}

#sedans-btn button {
    color: #E28525;
    
}

#suvs-card {
    background-color: #016972;
}

#suvs-btn button:hover {
    background-color: #016972;
    border-style: solid;
    border-color: white;
    color: white;
    cursor: pointer;
}

#suvs-btn button {
    color: #016972;
    
}

#luxury-card {
    background-color: #00403F;
}

#luxury-btn button:hover {
    background-color: #00403F;
    border-style: solid;
    border-color: white;
    color: white;
    cursor: pointer;
}

#luxury-btn button {
    color: #00403F;
    }

.card-headline h1 {
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
}

.card-text p {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Questrial', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.9px;
}

@media screen and (max-width: 800px) {
    .three-cards {
        display: block!important;
    }
}



.three-cards {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    border-radius: 10px;
    
    overflow: auto;
    display: flex;

    
    min-width: 200px;


}

.card {
    background-color: aqua;
    border: black;
    border-style: none;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2.2rem;
    padding-top: 2rem;
    

    width: 14rem;
}

.card-headline {
    text-transform: uppercase;
}

.card-btn {
    padding-top: 5rem;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1em;
}

.card-btn button {
    padding: 1rem;
    border-style: solid;
    border-color: white;
    border-radius: 100px;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 0.1em;
}